/*
	Theme Name: Instant
	Theme URI: https://flexithemes.com/instant-wordpress-theme/
	Description: Free General/Blog WordPress theme by FlexiThemes
	Author: FlexiThemes
	Author URI: https://flexithemes.com
	Version: 5.3
    Tags: black, yellow, two-columns, right-sidebar
*/

/* LAYOUT */

body {
	background: #F6F6F6 url(images/background.png) left top repeat-x;
	}

#wrapper {
   	}

#container {
 	}

#contentwrap {
   background: #FFFFFF;
	}

a {
	color: #000000;
	}

a:hover {
	color: #F1A91E;
	}
/* HEADER */

#header {
	height: 107px;
	}

#header h1 {
	margin-bottom: 0px !important;
	padding: 20px 0 0 0;
	font-weight: normal;
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
    text-transform: uppercase;
	font-size: 48px;
	}

#header h1 a, #header h1 a:visited {
	color: #DFDBDB;
	text-decoration: none;
	}


#header h2 {
	color: #DFDBDB;
	font-size: 14px;
	line-height: 14px; 
	font-family: Arial, Helvetica, Sans-serif;
	}

.logoimg {
    margin: 20px 0 0 14px;
}

.feedtwitter {
	margin-top:14px;
	text-align: right;
}
    
    
/* NAVIGATION MENUS */

#pagemenucontainer {
    background: url(images/pagemenucontainer-line.png) left bottom repeat-x;
	height: 26px;
    padding: 8px 0;
    margin-top: 9px;
    float: left;
	}
	
#pagemenu {
	height: 26px;
    float: left;
	}

#pagemenu, #pagemenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	}
#pagemenu {
	margin-bottom: 1px;
	}
	
#pagemenu ul {
	float: left;
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	}

#pagemenu li {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#pagemenu ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
	
#pagemenu li a, #pagemenu li a:link {
    color: #FFFFFF;
	display: block;
    margin: 0 6px 0 0;
	padding: 8px 16px;
	text-decoration: none;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;

	}
	
#pagemenu li a:hover, #pagemenu li a:active {
    background: #7C7A7A;
	color: #FFFFFF;
	display: block;
    text-decoration: none;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	}
	
#pagemenu  li.current_page_item a {
    background: #7C7A7A;
	color: #FFFFFF;
    text-decoration: none;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	}

#pagemenu li:hover, #pagemenu li.sfhover { 
	position: static;
	}


#navcontainer {
	height: 37px;
	display: block;
	overflow: hidden;
    margin-bottom: 10px;
	}

#navcontainer .current-cat a {
	color:#747272;
    background: url(images/nav-background-hover.png) left top repeat-x;
    -moz-border-radius: 5px 5px 0 0;
    -khtml-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
	}

/* CONTENT */

#content {
    padding: 15px 5px 15px 15px;
    color: #504D4D;
	}

	
pre { overflow: auto;
	width: 470px; 
	}

.post {
	padding-bottom: 5px;
	margin-bottom: 20px;
    border-bottom: 1px solid #EDEDED;
   	}

.post p {
	margin-bottom: 10px;
	}

.title {
	margin: 0 0 8px 0;
	padding: 0px;
	line-height: 28px;
	font-size: 22px;
	font-family: Arial, Helvetica, Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
	color: #21262F;
	}

	
.title a {
	text-decoration: none;
	color: #21262F;
	}

.title a:hover {
	text-decoration: none;
	color: #F1A91E;
	}

.pagetitle {
	margin-bottom: 20px;
	line-height: 22px;
	font-family: Arial, Verdana;
	text-decoration: underline;
}

.postdate {
	font-size: 12px;
	font-family: Arial, Helvetica, Sans-serif;
    color: #666;
	}


.postmeta {
	font-size: 11px;
	padding: 2px 4px;
	font-family: Arial, Verdana;
	}
	
.postdate img, .postmeta img {
	border: none;
	vertical-align: middle;
	margin:2px;
	}
	
.entry {
	text-align: justify;
	line-height: 20px;
	padding-top: 8px;
	font-family: Arial, Verdana;
	font-size: 14px;
	}
.navigation {
	padding: 10px 0;
	}

blockquote {
	overflow: hidden;
	padding-left: 9px;
	font-style: italic;
	color: #666;
	border-left: 3px solid #CADAE7;
	}
	
.post img {
	max-width: 680px;
	}

img.wp-smiley {
	max-height: 12px;
	margin: 0;
	padding: 0;
	border: none;
	}
	
.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
	}

.alignleft {
   float: left;
	}

.alignright {
   float: right;
	}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
	}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
	}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
	}

	
/* wp-pagenavi */
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:active {
    font-size: 15px !important;
    padding:  4px 8px !important;
    color: #232323 !important;
    background:none !important;
    border: 0 !important;
}

.wp-pagenavi span.pages {
    font-size: 15px !important;
    padding:  4px 8px !important;
    color: #232323 !important;
    background: none !important;
    border: 0 !important;
}

.wp-pagenavi span.extend {
    font-size: 15px !important;
    padding:  4px 8px !important;
    background:transparent !important;
    color: #232323 !important;
    background: none !important;
    border: 0 !important;
}

.wp-pagenavi span.current {
    font-size: 15px !important;
    padding:  4px 8px !important;
    font-weight: bold;
    color: #FFFFFF !important;
    background: #F1A91E !important;
    border: 0 !important;
}

.wp-pagenavi a:hover {
    border: 0 !important;
    color: #fff !important;
    background: #CAC8C8 !important;
    border: 0 !important;

}


/* SIDEBAR(S) */

.sidebaradbox {
	margin-top: 10px; 
	text-align:center;
	}
	
.ad125 {
	margin: 6px;
	}


.sidebar {
	margin: 0 10px 10px 10px;
    font-size: 13px;
    color: #6D6D6E;
	}
	
.sidebar a {
	text-decoration: none;
	color: #6D6D6E;
	}

.sidebar a:hover {
	text-decoration: underline;
	color:#DB810C;
	}
	

#search {
    border: 1px solid #939191;
    height: 28px;
    padding: 0px;
    background: #7C7A7A;
    text-align: right;
    margin-top: 15px;
}

#search input {
	border: 0;
    background: none;
    color: #F6F6F6;
}
	
	
#s {
	width: 240px;
	padding: 4px;
    margin:2px 0 0 0;
    background: none;
}

#topsearch #search {
    margin: 15px 0 0 0;
    padding-right: 4px;
    }
    
#topsearch #s {
    width: 226px;
    }

	
		
/* Social icons */
.addthis_toolbox {
    padding: 15px 0 0px 0;
	text-align: center;
	}
.addthis_toolbox .custom_images a
{
    width: 32px;
    height: 32px;
    margin: 0 3px 0 3px;
    padding: 0;
}

.addthis_toolbox .custom_images a:hover img
{
    opacity: 1;
}

.addthis_toolbox .custom_images a img
{
    opacity: 0.85;
}


	
.sidebarvideoyoutube iframe { 
    width: 100% !important;
}
.sidebarvideo {

	}

.sidebar h2 {
	margin: 0;
	padding: 10px 0 4px 18px;
    text-align: left;
	font-size: 16px;
    line-height: 16px;
    color: #466361;
	font-family: Arial, Helvetica, Sans-serif;
	font-weight: bold;
	text-transform: uppercase;
    background: url(images/sidebar_tab.png) left 12px no-repeat;
    border-bottom: 8px solid #EDEDED;
    }

.sidebar ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
	
.sidebar ul li {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0px;
   	}

.sidebar ul ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
  	}


.sidebar ul li li, .sidebar ul li ul li {
	padding: 6px 0px 6px 6px;
	margin: 0 0 2px 0;
    background: url(images/sidebar_line.png) left bottom repeat-x;
    }

.sidebar ul li li:hover, .sidebar ul li ul li:hover {

    }

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	color: #6D6D6E;
	background: none;
	}
#wp-calendar caption {
	padding: 2px 4px;
	text-transform: uppercase;	margin: 2px 0 2px 0;
	background: none;
    color: #6D6D6E;
	}

#wp-calendar td {
	color: #6D6D6E;
	font: normal 12px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
	}

#wp-calendar td:hover, #wp-calendar #today {
	color: #fff;
    background: #F1A91E;
	}
#wp-calendar td:hover a {
    color: #fff;
}	
#wp-calendar {
	empty-cells: show;
	font-size: 14px;
	margin: 0;
	font-weight: bold; 
	width: 100%;
	}

/* FOOTER */

#footer {
    background: #434242;
	padding: 20px;
	text-align: center;
	color: #FFFFFF;
	font-size: 13px;
	}

#footer a {
	color: #FFFFFF;
	} 

#footer a:hover {
	text-decoration: none;
    color: #FFFFFF;
	} 
	
#credits {
	color: #7D7D7D;
	font-size: 11px;
	text-align: center;
	padding: 10px;
	}
    	
#credits a {
	color: #7D7D7D;
    text-decoration: none;
	} 
	
/* COMMENTS */

#comments h3 {
	margin-bottom: 10px;	
}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform {
	margin: 5px 10px 0 0;
	}
	
#commentform textarea {
	width: 100%;
	padding: 2px;
	}
	
#respond:after {
		content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}
	
#commentform #submit {
	margin: 0 0 5px auto;
	float: right;
	}

.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	}

.commentlist li {
	margin: 15px 0 10px;
	padding: 5px 5px 10px 10px;
	list-style: none;

	}
	
.commentlist li ul li { 
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist p {
	margin: 10px 5px 10px 0;
}
.children { padding: 0; }

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
	
.post_thumbnail {
    padding: 6px;
    border: 2px solid #E0E6E7;
    margin: 0 10px 10px 0;
    background-color: #F6F6F6;
}


/* =RESPONSIVE
-------------------------------------------------------------- */

.menu-primary-responsive-container, .menu-secondary-responsive-container  {
    display: none;
    margin: 10px 0;
}

.menu-primary-responsive, .menu-secondary-responsive  {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
}


/* Tablets ----------- */

@media only screen and (max-width: 768px) {
    
    .span-1, .span-2, .span-3, .span-4, .span-5,.span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24,
     div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24
    {
        width:100%;
        margin:0;
        display: block;
        padding: 0;
        float: none;
    }
    
    .container, div.container {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    #contentwrap {}

    .sidebar {}

    .entry {
        overflow:  hidden;
    }
    
    .smooth_gallery, .fullbox_excerpt, .fullbox_content, .myGallery {
        display: none;
    }
   
    #header, #header-wrap {
        height: auto;
    }
    
    #header .span-11, #header .span-11 div, #header .span-12, #header .span-12 div, #header .span-13, #header .span-13 div  {
       text-align: center !important;
       padding-bottom: 10px;
    }
   
     #topsearch, #topsocials, .feedtwitter  {
         text-align: center;
         display: block;
         float: none;
         width: auto;
         margin: 0;
         height: auto;
    }
    .logoimg {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    
    #search {
        text-align: left;
        padding-left: 5px;
    }
    
    #s {
        width: auto !important;
    }
    
    #search input[type='image'] {
        float: right !important;
    }

    #pagemenucontainer {
        float: none;
        display: block;
    }

    #navcontainer {
        background: #7C7979;
        padding: 10px 10px 0 10px;
    }

}

/* Mobile Phones ----------- */

@media only screen and (max-width: 480px) {
    #header .span-11, #header .span-11 div, #header .span-12, #header .span-12 div, #header .span-13, #header .span-13 div  {
       text-align: center !important;
       padding-bottom: 0;
    }
 
    .menu-primary-responsive-container, .menu-secondary-responsive-container {
        display: block;
    }
    
    #pagemenucontainer, #navcontainer, #pagemenu, #nav {
        display: none;
    }
}

/* Some General Formattings ----------- */

embed,
img,
object,
video,
.wp-caption {
	max-width: 100% !important;
}

img {
	height: auto;
}

/* =SITEMAP
-------------------------------------------------------------- */
.sitemap {
}

.sitemap-col {
    width: 30%;
    padding: 0 0 0 10px;
}

.sitemap-col-archives {
    width: 45%;
    padding: 0 0 0 10px;
}

.sitemap h2 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

.sitemap h3 {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 10px 0;
}

.sitemap-list {
    font-size: 13px;
    line-height: 22px;
}

.sitemap-list, .sitemap-list ul {
    padding: 0 0 0 20px;
}

/* =CONTACT FORM
-------------------------------------------------------------- */
.contact-form {
}

.contact-form-label {
    width: 90px;    
    font-weight: bold;
    font-size: 14px;
    padding: 7px 0;
}

.contact-form-input {
    margin-left: 90px;    
}

.contact-form input[type=text] {
    padding: 6px;
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.contact-form input[type=submit] {
    padding: 5px 50px;
    border: 1px solid #ccc;
    background: #eee;
}
.contact-form textarea {
    width: 96%;
    padding: 6px;
    height: 160px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background: #fff;
}

.contact-form-required {
    color: red;
}

/* WooCommerces ----------- */
.woocommerce #contentwrap {
    background: #fff;
}

.variations .label {
    background-color:inherit;
    color: inherit;
    display: block !important;
    font-size: inherit;
    font-weight: inherit;
    line-height:inherit;
    text-shadow: none;
    vertical-align: inherit;
    white-space: inherit;
    padding: 8px 8px 8px 0 !important;
} 
.woocommerce input[type="text"], .woocommerce input[type="password"], .woocommerce input.text, .woocommerce input.title, .woocommerce textarea, .woocommerce select {
    margin: 0;  
    padding: 4px !important;
}

.quantity input[type="text"], .quantity input.text, .quantity input{
    margin: 0;  
    padding: 0 !important;
}

.woocommerce img {
    width: auto !important;
    height: auto !important;
}

.RECOMAND{
float:left;
width:110px;
}
